snippet bin "declare module" b
-module(`!p snip.rv=fn.replace(".erl","")`).
-compile(export_all).
endsnippet

snippet -e "export function" b
-export([${1:function}/${2:1}]).
endsnippet

snippet def "function " b
${1:function}(${2:arg}) ->
	${3:code}.
endsnippet
