snippet -m "add module" b
-module(${1:name}).
endsnippet

snippet -e "export function" b
-export([${1:function}/${2:1}]).
endsnippet

snippet -c "compile" b
-compile(${1:export_all}).
endsnippet

snippet func "function " b
${1:function}(${2:arg}) ->
	${3:code}.
endsnippet
