snippet he "mardown blog header" b
---
layout: post
title:  "${1:title}"
date:   `!v strftime("%Y-%m-%d %H:%M:%S")`
categories: ${2:programming}
tags: ${3:programming}
author: "ScorpiusZ"
---
endsnippet

