snippet bin "excute like shell" b
#! /usr/bin/env python
#coding:utf8
endsnippet

snippet pr "print " !b
print ${1:something}
endsnippet

snippet wh "while" !b
while ${1:condition}:
	${2:code}
endsnippet

snippet main "main" b
def $1(${2:args}):
	${3:pass}

if __name__ == '__main__':
	${1:main}($2)
endsnippet
